/** Body Fonts */
/* Regular Weight */
@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/Gilroy-Regular.ttf");
}

/* Medium Weight */
@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/Gilroy-Medium.ttf");
}

/* SemiBold Weight */
@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/Gilroy-Bold.ttf");
}

/* Bold Weight */
@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    src: url("./assets/fonts/Gilroy-Bold.ttf");
}

/* ExtraBold Weight */
@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 900;
    src: url("./assets/fonts/Gilroy-ExtraBold.ttf");
}

/* Thin Weight */
@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 300;
    src: url("./assets/fonts/Gilroy-Thin.ttf");
}

/** Heading Fonts */
/* Regular Weight */
@font-face {
    font-family: Nib Pro;
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/NibPro-Regular.ttf");
}

/* SemiBold Weight */
@font-face {
    font-family: Nib Pro;
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/NibPro-SemiBold.ttf");
}

/* Bold Weight */
@font-face {
    font-family: Nib Pro;
    font-style: normal;
    font-weight: 800;
    src: url("./assets/fonts/NibPro-Bold.ttf");
}

/* Thin Weight */
@font-face {
    font-family: Nib Pro-Thin;
    font-style: normal;
    font-weight: 300;
    src: url("./assets/fonts/NibPro-Light.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryBg: #212222;
    --secondaryBg: #2f3030;
    --primaryColor: #e0a80d;
    --greyDark: #7d8792;
    --headingColor: #2d2e2e;
    --white: #fff;
    --black: #000;
    --silver: #bac8d3;
}

body {
    background-color: var(--headingColor);
    color: var(--white);
}

body * h1, h2, h3, h4, h5, h6 {
    font-family: Nib Pro, sans-serif;
    font-weight: 800;
}

body * a, p, span, button {
    font-family: Gilroy, sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: var(--greyDark);
    transition: 0.5s;
}

a:hover {
    color: var(--primaryColor);
}

p {
    color: var(--silver);
    font-size: 0.94rem;
    line-height: 30;
    margin: 1.25rem 0;
}

button {
    border: none;
    outline: none;
    background: none;
    font-size: 1.125rem;
    background-color: var(--primaryColor);
    color: var(--white);
    padding: .9375rem 3.125rem;
    border-radius: 3.125rem;
    margin-top: 1.25rem;
    cursor: pointer;
}

/** ------------ Header --------------- */

header {
    background-color: var(--headingColor);
    height: 10vh;
    /* line-height: 10vh; */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header a {
    margin-left: 2.5rem;

}

.header-container {
    max-width: 1280px; /* 80% */
    margin: 0 auto;
}

.layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .logo {
    height: 10vh;
} */

.logo-img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}

.toggle {
    color: var(--white);
    display: none;;
}







/** ------------------------- Media Queries ----------------------------- */
@media screen and (min-width: 320px) and (max-width: 768px) {
    header .navbar {
        display: none;
    }
    header a {
        width: 100%;
        display: block;
        color: var(--white);
    }
    .toggle {
        display: block;
        background: none;
        font-size: 1.5625rem;
    }
} 